.container{
    padding: 20px 0;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    padding: 15px;
    width: 50%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.column .table {
    width: 100%;
}
.btn-right {
    float: right;
}
.monospaced {
    font-family: monospace;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
